<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DonFacile - Accueil</title>
    <link rel="stylesheet" href="/static/css/home.css">

    <script>
        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
        }
    </script>
        
    
</head>
<button class="toggle-dark" onclick="toggleDarkMode()">🌙 </button>

<body>

<header>

<div style="text-align: center; margin-bottom: 20px;">
    <img src="{{ url_for('static', filename='logo_donfacile.png') }}" alt="Logo DonFacile" style="height: 194px; margin-bottom: -92px;">
</div>
</header>


    
    <h1>Bienvenue sur DonFacile</h1>
    <p>Plateforme pour faire des dons facilement </p>

    <div class="buttons">
        <a href="{{ url_for('register') }}" class="btn btn-primary">S'inscrire</a>
        <a href="{{ url_for('index') }}" class="btn btn-outline">Voir les dons</a>
        <a href="{{ url_for('login') }}" class="btn btn-outline">Se connecter</a>
    </div>
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2025 DonFacile. Tous droits réservés.</p>
        <p>Fait avec 💚 par Faiza</p>
    </div>
</footer>
</body>
</html>
