{% extends 'base.html' %}
{% block content %}

<div class="index-container">
    

    <!-- Barre de recherche -->
    <div class="search-bar">
        <form method="get" action="{{ url_for('index') }}" class="search-form">
            <input type="text" name="location" placeholder="Rechercher sur donFacile .."
                   value="{{ location_filter or '' }}" class="input-text">

            <select name="category" class="input-select">
                <option value="all" {% if category_filter == 'all' or not category_filter %}selected{% endif %}>Toutes catégories</option>
                <option value="alimentaire" {% if category_filter == 'alimentaire' %}selected{% endif %}>Alimentaire</option>
                <option value="vestimentaire" {% if category_filter == 'vestimentaire' %}selected{% endif %}>Vestimentaire</option>
                <option value="vestimentaire" {% if category_filter == 'Immoblier' %}selected{% endif %}>Immoblier</option>
                <option value="vestimentaire" {% if category_filter == 'Eléctronique' %}selected{% endif %}>Eléctronique</option>
                <option value="autre" {% if category_filter == 'autre' %}selected{% endif %}>Autre</option>
            </select>

            <input type="submit" value="Rechercher" class="btn-custom">
        </form>
    </div>

    <!-- Bouton "Faire un don" -->
    <div class="add-donation-btn">
        <a href="{{ url_for('create_donation') }}" class="btn-custom">
            ➕ Faire un don
        </a>
    </div>

    <h3 class="section-title">Dons disponibles</h3>

    {% if donations %}
        <ul class="donation-list">
            {% for don in donations %}
                <li class="donation-item">
                    {% if don[6] %}
                        <img src="{{ url_for('static', filename='uploads/' ~ don[6]) }}"
                             alt="Image du don" class="donation-img">
                    {% endif %}
                    <div class="donation-info">
                        <strong class="donation-title">{{ don[1] }}</strong> <em>({{ don[3] }})</em><br>
                        <p>{{ don[2] }}</p>
                        📍 <strong>{{ don[4] }}</strong><br>
                        🕒 <span class="donation-date">{{ don[5] }}</span><br><br>
                        <a href="{{ url_for('donation_detail', donation_id=don[0]) }}" class="donation-link">Voir détail</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-donation-msg">Aucun don disponible pour le moment.</p>
    {% endif %}
</div>

{% endblock %}
